packages:
  yum:
    ImageMagick: []
    ImageMagick-devel: []
    gcc: []
    gcc-c++: []
    python3-devel: []
    wget: []
    tar: []
    xz: []

commands:
  01_install_ffmpeg:
    command: |
      # Install ffmpeg static binary
      cd /tmp
      wget -q https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz
      tar -xf ffmpeg-release-amd64-static.tar.xz
      FFMPEG_DIR=$(ls -d ffmpeg-*-amd64-static)
      cp $FFMPEG_DIR/ffmpeg /usr/local/bin/
      cp $FFMPEG_DIR/ffprobe /usr/local/bin/
      chmod +x /usr/local/bin/ffmpeg
      chmod +x /usr/local/bin/ffprobe
      rm -rf $FFMPEG_DIR ffmpeg-release-amd64-static.tar.xz
      # Create symlinks
      ln -sf /usr/local/bin/ffmpeg /usr/bin/ffmpeg
      ln -sf /usr/local/bin/ffprobe /usr/bin/ffprobe

  02_install_system_deps:
    command: |
      yum install -y ImageMagick ImageMagick-devel gcc gcc-c++ python3-devel